[submodule "posts-service"]
	path = posts-service
	url = https://github.com/EthanWuzer/posts-service
[submodule "SocialMediaUsersAPI"]
	path = SocialMediaUsersAPI
	url = https://github.com/BrandonBelz/SocialMediaUsersAPI
[submodule "software-architecture-project-frontend"]
	path = software-architecture-project-frontend
	url = https://github.com/Bluemaster05/software-architecture-project-frontend
[submodule "software-architecture-message-service"]
	path = software-architecture-message-service
	url = https://github.com/Agent8Bit/software-architecture-message-service
